#loginContainer
{
    padding-top: 5rem;
    width: 30rem !important;
    border-radius: 1em; 
}
  
/* #loginForm
{
text-align: right;
padding-top: 5rem !important;
background-image: url('../assets/kraken.png');
background-repeat: no-repeat;
background-position: top;
background-size: 15%;
}
   */
  
